.advantages {
  background-color: @basic-white;
  padding-top: 48px;
  outline: 3px solid lightblue;
  outline-offset: -3px;
}

.advantages-intro {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.advantages__wrapper {
  background: @basic-grey url("../img/bg/advantages-bg.png") no-repeat center bottom;
  padding-bottom: 325px;
}

.advantages-list {
  padding: 0;
  list-style: none;
}

.advantages-heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.advantages-content {
  font-size: 14px;
  line-height: 24px;
}
