.advantages {
  background-color: @basic-white;
}

.advantages-intro {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: @basic-grey url("../img/bg/advantages-bg.png") no-repeat center bottom;
}

.advantages-heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.advantages-content {
  font-size: 14px;
  line-height: 24px;
}
