.competition {
  background-color: @basic-white;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
}

.competition-heading {
  font-size: 14px;
  font-weight: normal;
}

.form-fieldset {
  border: none;
}

.form__fieldset--grey {
  background-color: @basic-grey;
}

.form-fieldset label {
  text-transform: uppercase;
  color: @basic-red;

  input {
    font-size: 18px;
    color: @basic-black;
    border: 2px solid @basic-dark-grey;
    border-radius: 1px;
  }
}

.form-legend {
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-red;
}

.achievements-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-span {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
  color: @basic-black;
}

.apps-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-textarea {
  border: 2px solid @basic-dark-grey;
}

.submit-button {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @basic-green;
  border: none;
  border-radius: 1px;
}

.red {
  color: @basic-red;
}
