.competition-main {

  .page-slogan {
    font-size: 24px;
    line-height: 33px;
    font-weight: 300;
    color: @basic-white;
  }
}

.competition-main__page-slogan {
  margin-top: 102px;
  margin-bottom: 51px;
}
