.contacts {
  padding-top: 50px;
  padding-bottom: 22px;
  outline: 3px solid lightblue;
  outline-offset: -3px;
}

.contacts-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

.contacts p {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  font-style: normal;
}

.contacts-link {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  font-style: normal;
  color: @basic-red;
  text-decoration: none;
}
