.contacts {
  padding-top: 50px;
  padding-bottom: 22px;
  outline: 3px solid lightblue;
  outline-offset: -3px;
}

.contacts__flex {
  @media (min-width: 660px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: 1200px) {
    justify-content: space-between;
  }
}

.contacts-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

.contacts p {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  font-style: normal;

  @media (min-width: 660px) {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &:first-child {
    @media (min-width: 660px) {
      margin-right: 50px;
    }

    @media (min-width: 1200px) {
      margin-right: 0;
    }
  }
}

.contacts-link {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  font-style: normal;
  color: @basic-red;
  text-decoration: none;
}
