.downloads {
  background-color: @basic-dark-blue;

  p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: @basic-white;
    max-width: 300px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 660px) {
    background: transparent;

    p {
      font-size: 18px;
    }
  }
}

.downloads__item {
  padding: 0 17px;
}

.downloads__wrapper {
  padding-top: 28px;
  padding-bottom: 31px;

  @media (min-width: 660px) {
    padding: 0;
    padding-bottom: 114px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 124px;
  }
}

.downloads__button {
  margin-bottom: 32px;

  @media (min-width: 660px) {
    margin-bottom: 46px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 67px;
  }
}

.downloads__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 11px;

  @media (min-width: 660px) {
    margin-bottom: 22px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 44px;
  }
}
