.modal {
  display: none;
  box-shadow: 0 7px 15px @special-dark-shadow;
}

.modal-heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
}

.modal-description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}
