.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  background: url("../img/bg/header-phone-bg.png") no-repeat top left, url("../img/bg/header-bg.png") no-repeat center top;
}

.page-slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @basic-white;
}
