.page-main {
  outline: 3px solid greenyellow;
  outline-offset: -3px;
}

.slogan-wrapper {
  background: url("../img/bg/header-phone-bg.png") no-repeat bottom left,
              url("../img/bg/header-bg.png") no-repeat center top;
  background-size: auto, cover;
}

.page-main__slogan-wrapper {
  padding-top: 95px;
  padding-bottom: 320px;
}

.page-slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @basic-white;

}
