.page-footer {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 940px;
  margin: 0 auto;

  @media (min-width: 660px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 25px;
  }

  @media (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 74px;
  }
}

.page-footer__logo {
  margin-bottom: 28px;

  &[href]:hover {
    svg {
      fill: @basic-red;
    }
  }

  &[href]:active {
    svg {
      fill: @basic-blue;
      opacity: 0.3;
    }
  }

  @media (min-width: 660px) {
    justify-self: flex-start;
    margin-bottom: 0;
  }
}

.page-footer__developed {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  a {
    color: @basic-blue;
    text-decoration: none;
    display: flex;
    align-items: center;

    svg {
      margin-left: 14px;
    }

    use {
      fill: @basic-red;
    }
  }

  a:hover {
    use {
      fill: @basic-blue;
    }
  }

  a:active {
    svg {
      opacity: 0.3;
    }
  }

  a:visited {
    svg {
      fill: @basic-red;
    }
  }

  @media (min-width: 660px) {
    justify-self: flex-end;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}
