.photos-main {
  .page-slogan {
    line-height: 33px;
  }
}

.photos-main__bg-wrapper {
  background: @basic-blue url("../img/bg/header-bg.png") no-repeat top center;
  background-size: cover;
  padding-top: 102px;
  padding-bottom: 84px;
}
