.reviews-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
}

.reviews__author-info--mobile-hidden {
  @media (max-width: 659px) {
    display: none;
  }
}

.slider-navigation--mobile-hidden {
  @media (max-width: 659px) {
    display: none;
  }
}
