.reviews {
  padding-top: 41px;
  padding-bottom: 134px;
  background-image: linear-gradient(177deg, @basic-white 78%, @basic-grey 78%);

  @media (min-width: 660px) {
    padding-top: 0;
    padding-bottom: 106px;
    background-image: linear-gradient(176deg, @basic-white 75%, @basic-grey 75%);
  }

  @media (min-width: 1200px) {
    padding-top: 184px;
    padding-bottom: 190px;
    position: relative;
    background: url("../img/bg/quotes.svg"), linear-gradient(175deg, @basic-white 75%, @basic-grey 75%);
    background-repeat: no-repeat, no-repeat;
    background-position: center top 72px, center top;
  }
}

.reviews__list {
  padding: 0;
  list-style: none;
  position: relative;
}

.reviews__blockquote {
  margin: 0;
  padding: 0;

  @media (min-width: 660px) {
    display: flex;
    flex-direction: column;
  }
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  display: block;
  text-align: center;
  margin-bottom: 13px;

  @media (min-width: 660px) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.reviews__author-info--mobile-hidden {
  display: none;
  margin: 0;
  margin-bottom: 21px;
  text-align: center;

  @media (min-width: 660px) {
    display: block;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
    margin-bottom: 0;
  }
}

.reviews__text {
  order: -1;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 17px;
  max-width: 690px;

  @media (min-width: 660px) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 36px;
  }
}
