.reviews {
  padding-top: 50px;
  padding-bottom: 60px;
  outline: 3px solid lightblue;
  outline-offset: -3px;
}

.reviews-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__blockquote {
  margin: 0;
  padding: 0;
}

.author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
}

.reviews__author-info--mobile-hidden {
  @media (max-width: 659px) {
    display: none;
  }
}

.slider-navigation--mobile-hidden {
  @media (max-width: 659px) {
    display: none;
  }
}
