.tariffs {
  background-color: @basic-grey;
  padding-bottom: 70px;

  &--mobile {
    padding-bottom: 42px;

    @media (min-width: 660px) {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.tariffs__table {
  width: 100%;

  td {
    width: 25%;
    vertical-align: middle;
    padding: 7px 15px;

    img {
      display: block;
      margin: 0 auto;
    }

    @media (min-width: 1200px) {
      font-size: 18px;
      padding-top: 12px;
      padding-left: 20px;
      padding-bottom: 17px;
    }
  }
}

.tariffs__item {
  display: none;
  margin-bottom: 26px;

  &--current {
    display: block;
  }
}

.tariffs__caption-wrapper {
  background-color: @basic-blue;
  padding-top: 11px;
  padding-bottom: 27px;
  color: @basic-white;
  text-align: center;
  position: relative;

  p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  &--hit {
    position: relative;
  }

  &--hit::before {
    content: "";
    width: 74px;
    height: 74px;
    position: absolute;
    background: url("../img/logos/hit.svg") no-repeat center;
    top: 0;
    left: 20px;
  }
}

.tariffs__caption {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @basic-blue;
  padding: 0;
  text-align: center;

  &--hit {
    position: relative;
  }

  &--hit::before {
    content: "";
    width: 59px;
    height: 59px;
    position: absolute;
    background: url("../img/logos/hit.svg") no-repeat center;
    background-size: contain;
    top: 0;
    left: 0;

    @media (min-width: 1200px) {
      width: 74px;
      height: 74px;
    }
  }

  &--cell {
    padding: 12px;
    background-color: @basic-blue;
    color: @basic-white;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    background-repeat: no-repeat;
    background-size: cover;

    &:first-of-type {
      background-color: transparent;
      background-image: url("../img/bg/th-left-bg.svg");
      background-position: top left;

      @media (min-width: 1200px) {
        background-image: url("../img/bg/th-left-bg--desktop.svg");
      }
    }

    &:last-of-type {
      background-color: transparent;
      background-image: url("../img/bg/th-right-bg.svg");
      background-position: top right;

      @media (min-width: 1200px) {
        background-image: url("../img/bg/th-right-bg--desktop.svg");
      }
    }

    span {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
    }

    @media (min-width: 1200px) {
      font-size: 18px;
      padding: 16px;
      padding-bottom: 28px;

      span {
        font-size: 24px;
      }
    }
  }
}

.tariffs__option {
  margin: 0;
  padding: 0 40px;
  min-height: 59px;
  background-color: @basic-white;
  border-bottom: 2px solid @basic-dark-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tariffs__option--uppercased {
  text-transform: uppercase;
}

td {
  background-color: @basic-white;
  border: none;
}

.tariffs__null-cell {
  background-color: @basic-grey;
}
