.tariffs {
  background-color: @basic-grey;
}

.tariffs--mobile {
  background-color: @basic-grey;
  padding-top: 83px;
  padding-bottom: 50px;
  outline: 3px solid lightblue;
  outline-offset: -3px;

  @media (min-width: 660px) {
    display: none;
  }
}

.tariff {
  display: none;
}

.tariffs__tariff-caption-wrapper {
  background-color: @basic-blue;
}

.tariffs__tariff-option-wrapper {
  background-color: @basic-white;
  border-bottom: 2px solid @basic-dark-grey;
}

.tariff--current {
  display: block;
}

.tariff-caption {
  color: @basic-white;
  text-transform: uppercase;
  background-color: @basic-blue;

  span {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
  }
}

.tariff-option {
  background-color: @basic-white;
}

.tariff__option--uppercased {
  text-transform: uppercase;
}

td {
  background-color: @basic-white;
  border: none;
}

.null-cell {
  background-color: @basic-grey;
}
